.background{
  grid-column: 1;
  display: flex;
  background-color: #FFFFFF;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  border-radius: 9px;
  position: sticky;
  top: 0;
  height: 95%;
  margin-top: 1.2rem;
}

.button{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: transparent;
}
.buttone{
  background-color: red;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 17px;
}
.Buton{
  padding: 12px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
  height: 200px;
 
}
.housebutton{
  background-color: black;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
.img{
  margin-top:10px;
}