.container{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 397px;
  overflow: hidden;
  text-overflow: inherit;
  white-space: nowrap;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.imageContainer{
  width: 100%;
}

.cover{
  object-fit: cover;
  height: 232px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.second{
  margin-left: 5px;
}
.third{
  margin-top:-13px;
  opacity: .8;
}

.titlesContainer{
  max-width: 220px;
}

.bottonCompra{
  margin-top: 15px;
  height: 40px;
  left: 140;
  border-radius: 9px;
  padding: 8px;

}

.buyDataContainer{
  width: 100%;
  display: grid;
  place-items: center;
}

.buyData{
  width: 85%;
  display: flex;
  justify-content:space-between;
  margin-left: 20px;
  margin-right: 20px;
}
